@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <div class="login-display">
            <div class="user-info">
                <i class="bi bi-person-circle"></i>
                <span class="user-name">@context.User.Identity?.Name</span>
            </div>
            <a href="/logout" class="btn btn-sm btn-outline-secondary btn-icon-text" title="Logout">
                <i class="bi bi-box-arrow-right"></i>
                <span class="btn-label">Logout</span>
            </a>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="/login" class="btn btn-sm btn-primary">Login</a>
    </NotAuthorized>
</AuthorizeView>