@inherits LayoutComponentBase

<div class="login-layout d-flex align-items-center justify-content-center min-vh-100"
	style="background-image: url('/img/login_bg.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
	<div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.5);"></div>
	<div class="login-content position-relative w-100 px-3" style="z-index: 1; max-width: 100%;">
		@Body
	</div>
</div>